<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758287500254-nv6rmnkonj2oon0dig9tmfv92fvjpe93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758287500254-nv6rmnkonj2oon0dig9tmfv92fvjpe93</string>
	<key>API_KEY</key>
	<string>AIzaSyA51dr0zaj8PAMdZfXBgI6Ad8H3ymVkYCU</string>
	<key>GCM_SENDER_ID</key>
	<string>758287500254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.wolox</string>
	<key>PROJECT_ID</key>
	<string>books-rentals</string>
	<key>STORAGE_BUCKET</key>
	<string>books-rentals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758287500254:ios:a802c21e850081aa48934f</string>
	<key>DATABASE_URL</key>
	<string>https://books-rentals.firebaseio.com</string>
</dict>
</plist>